html, body {height: 100%}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{
    background-color: #007B0C;
  }
  
  .nav {
    overflow: hidden;
    background-color: #007B0C;
    font-weight: 500;
  }
  
  .nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .drop {
    float: left;
    overflow: hidden;
  }
  
  .drop .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-weight: 500;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
  }
  
  .nav a:hover, .drop:hover .dropbtn {
    color: white;
  }
  
  .dropcontent {
    display: none;
    position: absolute;
    background: rgba(0, 123, 12, 0.3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropcontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    
    border-style: solid;
    border-top-style: none;
    border-width: 0.5px;
    
  }
  
  .dropcontent a:hover {
    background: rgba(0, 123, 12, 0.6);
    color: black;
  }
  
  .drop:hover .dropcontent {
    display: block;
  }

  #container{
    text-align: center;
    margin-top: 10px;
    background-color: #EBEBEB;
    border-radius: 10px;
    padding:2px;
  }

  #container p{
    margin-top: 0.5em;
    font-weight: 600;
    
  }
  
  #container select,.input-group-prepend{
    margin-bottom: 10px; 
    align-items: center;
  }

  #matchCard{
    text-align: initial;
    background-color: #EBEBEB;
    border-radius: 10px;
  }


  /* Source rating: https://codepen.io/hesguru/pen/BaybqXv */

  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
  